<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="EVEAPI:HostName" value="http://api.eveonline.com" />
    <add key="EVEAPI:RateLimit" value="20" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="debugger" xsi:type="Debugger" />
      <target name="SQLlite" xsi:type="Database" 
              keepConnection="false" 
              useTransactions="false" 
              dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" 
              connectionString="Data Source=C:\temp\CommonServicesLogs.db3;Version=3;" 
              commandType="Text" 
              commandText="INSERT into LOGTABLE(Timestamp, Loglevel, Logger, Callsite, Message, Method, Uri, Duration)          
              values(@Timestamp, @Loglevel, @Logger, @Callsite, @Message, @Method, @Uri, @Duration)">
        <parameter name="@Timestamp" layout="${longdate}" />
        <parameter name="@Loglevel" layout="${level:uppercase=true}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Callsite" layout="${callsite:filename=true}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Method" layout="${event-properties:item=method}" />
        <parameter name="@Uri" layout="${event-properties:item=uri}" />
        <parameter name="@Duration" layout="${event-properties:item=duration}" />
        <install-command>
          <text>
            CREATE TABLE IF NOT EXISTS LOGTABLE (
              Timestamp TEXT, 
              Loglevel TEXT, 
              Logger TEXT, 
              Callsite TEXT, 
              Message TEXT, 
              Method TEXT, 
              Uri TEXT, 
              Duration TEXT)
          </text>
        </install-command>
      </target>
    </targets>
    <rules>
      
      <logger name="*" minlevel="Trace" writeTo="SQLlite" />
      <logger name="*" minlevel="Trace" writeTo="debugger" />
    </rules>
  </nlog>
</configuration>